Q-5: Obtain the number of vehicles involved in each collision in 2016. Group the collisions by zip code and compute the sum of all vehicles involved in collisions in each zip code, then report the maximum of these values.

In [3]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import warnings; warnings.simplefilter('ignore')
import pandas as pd
import os
import datetime as dt
import matplotlib.pyplot as plt
import seaborn as sn
plt.style.use('fivethirtyeight')

In [7]:
FILE_NAME = 'NYPD_Motor_Vehicle_Collisions.csv'
master_df = pd.read_csv(FILE_NAME)
master_df.head(2)

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,UNIQUE KEY,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,04/30/2019,0:00,BROOKLYN,11222,40.727184,-73.950700,"(40.727184, -73.9507)",NaN,NaN,236 ECKFORD STREET,...,Unspecified,NaN,NaN,NaN,4123208,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
1,04/30/2019,0:00,MANHATTAN,10075,40.776318,-73.962135,"(40.776318, -73.962135)",EAST 79 STREET,MADISON AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4123128,Station Wagon/Sport Utility Vehicle,Ambulance,NaN,NaN,NaN

In [8]:
master_df.columns

Index(['DATE', 'TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE', 'LONGITUDE',
       'LOCATION', 'ON STREET NAME', 'CROSS STREET NAME', 'OFF STREET NAME',
       'NUMBER OF PERSONS INJURED', 'NUMBER OF PERSONS KILLED',
       'NUMBER OF PEDESTRIANS INJURED', 'NUMBER OF PEDESTRIANS KILLED',
       'NUMBER OF CYCLIST INJURED', 'NUMBER OF CYCLIST KILLED',
       'NUMBER OF MOTORIST INJURED', 'NUMBER OF MOTORIST KILLED',
       'CONTRIBUTING FACTOR VEHICLE 1', 'CONTRIBUTING FACTOR VEHICLE 2',
       'CONTRIBUTING FACTOR VEHICLE 3', 'CONTRIBUTING FACTOR VEHICLE 4',
       'CONTRIBUTING FACTOR VEHICLE 5', 'UNIQUE KEY', 'VEHICLE TYPE CODE 1',
       'VEHICLE TYPE CODE 2', 'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4',
       'VEHICLE TYPE CODE 5'],
      dtype='object')

In [5]:
related_columns = list(master_df.columns[-5:])
related_columns.append('BOROUGH')
related_columns.append('DATE')
related_columns('ZIP CODE')
related_columns('')

['VEHICLE TYPE CODE 1',
 'VEHICLE TYPE CODE 2',
 'VEHICLE TYPE CODE 3',
 'VEHICLE TYPE CODE 4',
 'VEHICLE TYPE CODE 5',
 'BOROUGH',
 'DATE']

In [6]:
vehiclecount_df = master_df[related_columns]

In [ ]:
# since returned df is boolean, we can use sum method to find out how many cars' codes were True thus no car 
vehiclecount_df = vehiclecount_df.groupby('BOROUGH').isna().

In [ ]:
vehiclecount_df = vehiclecount_df.isna().sum()

Q-5: Obtain the number of vehicles involved in each collision in 2016. Group the collisions by zip code and compute the sum of all vehicles involved in collisions in each zip code, then report the maximum of these values.