In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import warnings; warnings.simplefilter('ignore')
import pandas as pd
import os
import datetime as dt
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

In [3]:
FILE_NAME = 'NYPD_Motor_Vehicle_Collisions.csv'
master_df = pd.read_csv(FILE_NAME)
master_df.head()

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,UNIQUE KEY,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,04/30/2019,0:00,BROOKLYN,11222,40.727184,-73.950700,"(40.727184, -73.9507)",NaN,NaN,236 ECKFORD STREET,...,Unspecified,NaN,NaN,NaN,4123208,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
1,04/30/2019,0:00,MANHATTAN,10075,40.776318,-73.962135,"(40.776318, -73.962135)",EAST 79 STREET,MADISON AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4123128,Station Wagon/Sport Utility Vehicle,Ambulance,NaN,NaN,NaN
2,04/30/2019,0:00,QUEENS,11354,40.763283,-73.830710,"(40.763283, -73.83071)",NaN,NaN,137-17 NORTHERN BOULEVARD,...,Unspecified,NaN,NaN,NaN,4124069,Sedan,NaN,NaN,NaN,NaN
3,04/30/2019,0:00,QUEENS,11412,40.705240,-73.775080,"(40.70524, -73.77508)",LIBERTY AVENUE,DUNKIRK STREET,NaN,...,Unspecified,NaN,NaN,NaN,4123202,COMMU,Sedan,NaN,NaN,NaN
4,04/30/2019,0:00,NaN,NaN,40.593525,-73.996280,"(40.593525, -73.99628)",BELT PARKWAY,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4123344,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN

### Q-3: What proportion of collisions in 2016 resulted in injury or death of a cyclist?

In [4]:
cycle_df = master_df[[
    'DATE',
    'NUMBER OF CYCLIST INJURED',
    'NUMBER OF CYCLIST KILLED',    
]]

In [5]:
cycle_df['dat3'] = [date[-4:] for date in cycle_df['DATE']]
cycle2016_df = cycle_df.loc[cycle_df['dat3'] == '2016']

In [ ]:
cycle2016_df = cycle2016_df [[
    'dat3', 
    'NUMBER OF CYCLIST INJURED',
    'NUMBER OF CYCLIST KILLED',
    
]]

In [ ]:
# like venn diagrams a + b - intersect(A and B)
# like venn diagrams a 
cycle2016_df['NUMBER OF CYCLIST INJURED'].sum()
# like venn diagrams b
cycle2016_df['NUMBER OF CYCLIST KILLED'].sum()

In [ ]:
cycle2016_df.loc[cycle2016_df['NUMBER OF CYCLIST INJURED'] == 0].count()
cycle2016_df.loc[cycle2016_df['NUMBER OF CYCLIST KILLED'] != 0]
# AS BELOW SHOWS, THERE ARE NO ACCIDENTS WITH CYCLISTS BOTH INJURED/KILLED 
# THUS venn diagram ex: a+b-0 = ANSWER!

In [ ]:
total2016 = cycle2016_df.count()[0]
cyclist2016killed = cycle2016_df.loc[cycle2016_df['NUMBER OF CYCLIST KILLED'] != 0].count()[0]
cyclist2016 = cycle2016_df.loc[cycle2016_df['NUMBER OF CYCLIST INJURED'] != 0].count()[0]

In [ ]:
ratio_injured = int(cyclist2016) / int(total2016)*100
ratio_killed = int(cyclist2016killed)/int(total2016)*100
ratio_injKill = ratio_killed + ratio_injured

In [ ]:
print(
    '{:,.2}%'.format(ratio_killed + ratio_injured)
)